<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>end_cell.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,140}</string>
                <key>spriteSourceSize</key>
                <string>{77,140}</string>
                <key>textureRect</key>
                <string>{{77,99},{77,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ground_cell.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,91}</string>
                <key>spriteSourceSize</key>
                <string>{77,91}</string>
                <key>textureRect</key>
                <string>{{0,0},{77,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rock_cell.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,99}</string>
                <key>spriteSourceSize</key>
                <string>{77,99}</string>
                <key>textureRect</key>
                <string>{{154,0},{77,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start_cell.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,91}</string>
                <key>spriteSourceSize</key>
                <string>{77,91}</string>
                <key>textureRect</key>
                <string>{{77,0},{77,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tree_cell.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,120}</string>
                <key>spriteSourceSize</key>
                <string>{77,120}</string>
                <key>textureRect</key>
                <string>{{0,99},{77,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cells.png</string>
            <key>size</key>
            <string>{231,239}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c32c0cb718fc12ba00f737a25e1a795:f2b6c04340b0fe8da8ad76e36abd2d6f:cbeb43eb66f5a3781304947a6694fe99$</string>
            <key>textureFileName</key>
            <string>cells.png</string>
        </dict>
    </dict>
</plist>
